/* ==========================================================================
   wt Core Variables
   ========================================================================== */

/**
 * Core Variables are the fundamental - atomic level - declarations that
 * support the entire system
 *
 * All critcal style declarations in the DS should refer to this core when
 * possible except when styles only pertain to a respective component
 *
 * TODO: Add more core variables and break out mixins
 **/

/* Core System Color Variables
  ========================================================================== */
/* System Greys */
$asphalt: #333333;
$slate: #54575a;
$chrome-dark: #898b8e; 
$chrome-light: #bcbcbc;
$chrome-ultra-light: #EEEFF2;
$calcite: #f5f5f5;
$white: #ffffff;

/*  System color theme */
$gray: #f4f5f5;
$r4e-black: #131515;
$r4e-grey1: #4e5656;
$r4e-grey2: #6b7676; /* RGB 107 118 118 */
$r4e-turquoise1: #004f5d;
$r4e-turquoise2: #056a81;
$r4e-light-turquoise1: #f5fbfc;

/* Secondary REP ____ */
$widget-grey1: #e5e6e6;
$widget-grey2: #dcdfdf;
$widget-blue: #077d97;




/* System Font Definitions
  ========================================================================== */
@font-face {
	// font-family: 'WT=';
	// font-display: block;
	// src: url('');
}
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open Sans/open-sans-regular.woff2") format("woff2"),
       url("assets/fonts/Open Sans/open-sans-regular.woff") format("woff");
}
@font-face {
	font-family: "Open Sans 600";
	font-display: block;
  src: url("assets/fonts/Open Sans/open-sans-600.woff2") format("woff2"),
       url("assets/fonts/Open Sans/open-sans-600.woff") format("woff");
}




/* System-wide Core Variables
	========================================================================== */
/* Prefix all variables below with $core- to make them easy to identify when used in component files */

/* Core Font Stack */
$core-font-family: "Open Sans",'Arial',sans-serif;
$core-font-family-bold: 'Open Sans 600', 'Arial', sans-serif;
// $core-font-family-medium: '', 'Arial', sans-serif;
$core-font-size: 1em;
$core-line-height: 1.5;

