/* ==========================================================================
   wt Global Utilities
   ========================================================================== */

/**
 * Global Utilities address specific or niche needs for one-off solutions
 *
 * TODO: This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */

/* Margin Utilities
 * ==========================================================================
 * Modifiers for all sides, top and bottom, left and right, and individual sides
 * Increments of 10,20,30,50,100
 **/

*[class*='rep-'] {
	// transition: $;
}

/* Alignment Utilities
 ========================================================================== */
.rep-align-items--center {
	display: flex;
	align-items: center;
}

.rep-block-zero {
	display: block;
	margin: 0 auto;
}

.rep-flex-zero {
	display: flex;
	margin: 0 auto;
}

/* All Sides */
.rep-margin--10 {
	margin: 0.625em !important;
}
.rep-margin--20 {
	margin: 1.25em !important;
}
.rep-margin--30 {
	margin: 1.875em !important;
}
.rep-margin--50 {
	margin: 3.125em !important;
}
.rep-margin--100 {
	margin: 6.25em !important;
}

/* Top and Bottom only */
.rep-margin--vertical-10 {
	margin-top: 0.625em !important;
	margin-bottom: 0.625em !important;
}

.rep-margin--vertical-15 {
	margin-top: 0.938em !important;
	margin-bottom: 0.938em !important;
}

.rep-margin--vertical-20 {
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}
.rep-margin--vertical-30 {
	margin-top: 1.875em !important;
	margin-bottom: 1.875em !important;
}
.rep-margin--vertical-50 {
	margin-top: 3.125em !important;
	margin-bottom: 3.125em !important;
}
.rep-margin--vertical-100 {
	margin-top: 6.25em !important;
	margin-bottom: 6.25em !important;
}

/* Left and Right only */
.rep-margin--horizontal-auto {
	margin: 0em auto;
}
.rep-margin--horizontal-10 {
	margin-right: 0.625em !important;
	margin-left: 0.625em !important;
}
.rep-margin--horizontal-20 {
	margin-right: 1.25em !important;
	margin-left: 1.25em !important;
}
.rep-margin--horizontal-30 {
	margin-right: 1.875em !important;
	margin-left: 1.875em !important;
}
.rep-margin--horizontal-50 {
	margin-right: 3.125em !important;
	margin-left: 3.125em !important;
}
.rep-margin--horizontal-100 {
	margin-right: 6.25em !important;
	margin-left: 6.25em !important;
}

/* Top only */
.rep-margin--top-10 {
	margin-top: 0.625em !important;
}
.rep-margin--top-20 {
	margin-top: 1.25em !important;
}
.rep-margin--top-30 {
	margin-top: 1.875em !important;
}
.rep-margin--top-50 {
	margin-top: 3.125em !important;
}
.rep-margin--top-100 {
	margin-top: 6.25em !important;
}

/* Right only */
.rep-margin--right-10 {
	margin-right: 0.625em !important;
}
.rep-margin--right-20 {
	margin-right: 1.25em !important;
}
.rep-margin--right-30 {
	margin-right: 1.875em !important;
}
.rep-margin--right-50 {
	margin-right: 3.125em !important;
}
.rep-margin--right-100 {
	margin-right: 6.25em !important;
}

/*  Bottom only */
.rep-margin--bottom-10 {
	margin-bottom: 0.625em !important;
}
.rep-margin--bottom-15 {
	margin-bottom: 0.938em !important;
}
.rep-margin--bottom-20 {
	margin-bottom: 1.25em !important;
}
.rep-margin--bottom-30 {
	margin-bottom: 1.875em !important;
}
.rep-margin--bottom-50 {
	margin-bottom: 3.125em !important;
}
.rep-margin--bottom-100 {
	margin-bottom: 6.25em !important;
}

/* Left only */
.rep-margin--left-10 {
	margin-left: 0.625em !important;
}
.rep-margin--left-20 {
	margin-left: 1.25em !important;
}
.rep-margin--left-30 {
	margin-left: 1.875em !important;
}
.rep-margin--left-50 {
	margin-left: 3.125em !important;
}
.rep-margin--left-100 {
	margin-left: 6.25em !important;
}

/* Padding Utilities
 * =============================================================================
 * Modifiers for all sides, top and bottom, left and right, and individual sides
 * Increments of 10,20,30,50,100
 **/

/* All Sides */
.rep-padding--10 {
	padding: 0.625em !important;
}
.rep-padding--20 {
	padding: 1.25em !important;
}
.rep-padding--30 {
	padding: 1.875em !important;
}
.rep-padding--50 {
	padding: 3.125em !important;
}
.rep-padding--100 {
	padding: 6.25em !important;
}

/* Top and Bottom only */
.rep-padding--vertical-10 {
	padding-top: 0.625em !important;
	padding-bottom: 0.625em !important;
}
.rep-padding--vertical-20 {
	padding-top: 1.25em !important;
	padding-bottom: 1.25em !important;
}
.rep-padding--vertical-30 {
	padding-top: 1.875em !important;
	padding-bottom: 1.875em !important;
}
.rep-padding--vertical-50 {
	padding-top: 3.125em !important;
	padding-bottom: 3.125em !important;
}
.rep-padding--vertical-100 {
	padding-top: 6.25em !important;
	padding-bottom: 6.25em !important;
}

/* Left and Right only */
.rep-padding--horizontal-10 {
	padding-right: 0.625em !important;
	padding-left: 0.625em !important;
}
.rep-padding--horizontal-15 {
	padding-right: 0.938em !important;
	padding-left: 0.938em !important;
}
.rep-padding--horizontal-15 {
	padding-left: 0.938em !important;
	padding-right: 0.938em !important;
}
.rep-padding--horizontal-20 {
	padding-right: 1.25em !important;
	padding-left: 1.25em !important;
}
.rep-padding--horizontal-30 {
	padding-right: 1.875em !important;
	padding-left: 1.875em !important;
}
.rep-padding--horizontal-50 {
	padding-right: 3.125em !important;
	padding-left: 3.125em !important;
}
.rep-padding--horizontal-100 {
	padding-right: 6.25em !important;
	padding-left: 6.25em !important;
}

/* Top only */
.rep-padding--top-10 {
	padding-top: 0.625em !important;
}
.rep-padding--top-20 {
	padding-top: 1.25em !important;
}
.rep-padding--top-30 {
	padding-top: 1.875em !important;
}
.rep-padding--top-50 {
	padding-top: 3.125em !important;
}
.rep-padding--top-100 {
	padding-top: 6.25em !important;
}

/* Right only */
.rep-padding--right-10 {
	padding-right: 0.625em !important;
}
.rep-padding--right-20 {
	padding-right: 1.25em !important;
}
.rep-padding--right-30 {
	padding-right: 1.875em !important;
}
.rep-padding--right-50 {
	padding-right: 3.125em !important;
}
.rep-padding--right-100 {
	padding-right: 6.25em !important;
}

/* Bottom only */
.rep-padding--bottom-10 {
	padding-bottom: 0.625em !important;
}
.rep-padding--bottom-20 {
	padding-bottom: 1.25em !important;
}
.rep-padding--bottom-30 {
	padding-bottom: 1.875em !important;
}
.rep-padding--bottom-50 {
	padding-bottom: 3.125em !important;
}
.rep-padding--bottom-100 {
	padding-bottom: 6.25em !important;
}

/* Left only */
.rep-padding--left-10 {
	padding-left: 0.625em !important;
}
.rep-padding--left-20 {
	padding-left: 1.25em !important;
}
.rep-padding--left-30 {
	padding-left: 1.875em !important;
}
.rep-padding--left-50 {
	padding-left: 3.125em !important;
}
.rep-padding--left-100 {
	padding-left: 6.25em !important;
}

/* Width Utilities
 ========================================================================== */
.rep-width--10 {
	width: 10% !important;
}
.rep-width--20 {
	width: 20% !important;
}
.rep-width--30 {
	width: 30% !important;
}
.rep-width--40 {
	width: 40% !important;
}
.rep-width--50 {
	width: 50% !important;
}
.rep-width--60 {
	width: 60% !important;
}
.rep-width--70 {
	width: 70% !important;
}
.rep-width--80 {
	width: 80% !important;
}
.rep-width--90 {
	width: 90% !important;
}
.rep-width--100 {
	width: 100% !important;
}

/* Background Color Utilities
 ========================================================================== */
/* System Greys */
.rep-background--asphalt {
	background-color: $asphalt !important;
}
.rep-background--chrome-dark {
	background-color: $chrome-dark !important;
}
.rep-background--slate {
	background-color: $slate !important;
}
.rep-background--chrome-light {
	background-color: $chrome-light !important;
}
.rep-background--chrome-ultra-light {
	background-color: $chrome-ultra-light !important;
}
.rep-background--calcite {
	background-color: $calcite !important;
}
.rep-background--white {
	background-color: $white !important;
}

/*  System ____ */
// $crimson: #960b1c;


/* Primary WT ____ */


/* Secondary WT ____ */

/* Border Radius
 ========================================================================== */


/* Alignment
 ========================================================================== */
.rep-text--align-center {
	text-align: center;
}

.rep-text--align-left {
	text-align: left;
}

/* Column Count
 ========================================================================== */
.rep-columns--two {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
}

/* Element Floats
 ========================================================================== */
.rep-float--left {
	float: left;
}
.rep-float--right {
	float: right;
}
/* Text wraps
 ========================================================================== */
.rep-text-overflow {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
@media (max-width: 576px) {
	.rep-text-overflow--sm {
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}
}

@media (max-width: 768px) {
	.rep-text-overflow--md {
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}
}

@media (max-width: 992px) {
	.rep-text-overflow--lg {
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}
}
@media (max-width: 1200px) {
	.rep-text-overflow--xl {
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}
}
/* Media query breakpoint classes based on being opposing mirrors to the min-width classes in grid.scss
 ========================================================================== */
@media (max-width: 576px) {
	.d-max-sm-none {
		display: none !important;
	}
	.d-max-sm-inline {
		display: inline !important;
	}
	.d-max-sm-inline-block {
		display: inline-block !important;
	}
	.d-max-sm-block {
		display: block !important;
	}
	.d-max-sm-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-max-sm-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}
@media (max-width: 768px) {
	.d-max-md-none {
		display: none !important;
	}
	.d-max-md-inline {
		display: inline !important;
	}
	.d-max-md-inline-block {
		display: inline-block !important;
	}
	.d-max-md-block {
		display: block !important;
	}
	.d-max-md-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-max-md-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}
@media (max-width: 992px) {
	.d-max-lg-none {
		display: none !important;
	}
	.d-max-lg-inline {
		display: inline !important;
	}
	.d-max-lg-inline-block {
		display: inline-block !important;
	}
	.d-max-lg-block {
		display: block !important;
	}
	.d-max-lg-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-max-lg-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}
@media (max-width: 1200px) {
	.d-max-xl-none {
		display: none !important;
	}
	.d-max-xl-inline {
		display: inline !important;
	}
	.d-max-xl-inline-block {
		display: inline-block !important;
	}
	.d-max-xl-block {
		display: block !important;
	}
	.d-max-xl-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-max-xl-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}
