/* ==========================================================================
   wt Typography
   ========================================================================== */

/**
 * Type Heirarchy
 *
 * IMPORTANT:
 *
 * TODO:
 */

/* Component Variables and Mixins
	 ========================================================================== */

/* Browser Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
	margin: 0;
	padding: 0;
}

/* Type Components
   ========================================================================== */
.rep-text--h1,
.rep-text--h2,
.rep-text--h3,
.rep-text--h4,
.rep-text--h5,
.rep-text--h6,
.rep-text--subhead,
.rep-text--body,
.rep-text--caption,
.rep-text--support {
	display: block;
	line-height: $core-line-height;
	font-weight: 400;
}

/* Type Component Definitions */
.rep-text--h1 {
	font-weight: 300;
	font-size: 3rem;
	line-height: 4.375rem;
	color: $asphalt;
}

.rep-text--h2 {
	font-size: 2.813rem;
	line-height: 3.75rem;
}

.rep-text--h3 {
	font-size: 2.125rem;
	line-height: 2.5rem;
}

.rep-text--h4 {
	font-size: 1.625rem;
	line-height: 2rem;
}

.rep-text--h5 {
	font-size: 1.375rem;
	font-family: 'rep-Mark-Bold';
	line-height: 2rem;
}

.rep-text--h6 {
	font-size: 1.125rem;
	font-family: 'rep-Mark-Bold';
	line-height: 1.688rem;
}

.rep-text--product {
	font-size: $core-font-size;
	line-height: 1.625rem;
	font-family: 'rep-Mark-Bold';
}

.rep-text--body {
	font-size: $core-font-size;
	line-height: 1.625rem;
}

.rep-text--caption {
	font-size: 0.875rem;
	line-height: 1.375rem;
}

.rep-text--tag {
	font-size: 0.875rem;
	line-height: 1.375rem;
	text-transform: uppercase;
	// font-family: $core-font-family-medium;
	font-weight: 500;
}

.rep-text--support {
	font-size: 0.75rem;
	// font-family: $core-font-family-medium;
	line-height: 1.25rem;
	font-weight: 500;
}

/* DOM Heirarchy Bindings */
h1 {
	@extend.rep-text--h1;
}

h2 {
	@extend.rep-text--h2;
}

h3 {
	@extend.rep-text--h3;
}

h4 {
	@extend.rep-text--h4;
}

h5 {
	@extend.rep-text--h5;
}

h6 {
	@extend.rep-text--h6;
}

p {
	@extend.rep-text--body;
}

small {
	@extend.rep-text--support;
}

/* Type Modifiers
   ========================================================================== */

/* Weight - Style */
.rep-text--light {
	font-weight: lighter !important;
	font-weight: 300 !important;
}
.rep-text--regular {
	font-weight: normal !important;
	font-weight: 400 !important;
}
.rep-text--semibold {
	font-weight: bold !important;
	font-weight: 600 !important;
}
.rep-text--bold {
	font-weight: bold !important;
	font-weight: 700 !important;
}
.rep-text--italic {
	font-style: italic !important;
}

/* Color Modifiers */

/* System Greys */
.rep-text--asphalt {
	color: $asphalt !important;
}
.rep-text--chrome-dark {
	color: $chrome-dark !important;
}
.rep-text--slate {
	color: $slate !important;
}
.rep-text--chrome-light {
	color: $chrome-light !important;
}
.rep-text--chrome-ultra-light {
	color: $chrome-ultra-light !important;
}
.rep-text--calcite {
	color: $calcite !important;
}
.rep-text--white {
	color: $white !important;
}

/*  System Reds */
.rep-text--crimson {
	// color: $ !important;
}

/* Primary WT ____s */

/* Secondary WT ____ */


/* Transforms */
.rep-text--transform-capitalize {
	text-transform: capitalize !important;
}
.rep-text--transform-uppercase {
	text-transform: uppercase !important;
}
.rep-text--transform-lowercase {
	text-transform: lowercase !important;
}
