
<!-- <script id="doctors-template" type="text/x-handlebars-template"> -->
<!-- {{#>  }} -->

    <div class="container">            
            <div class="row">
                <div class="col-12">
                    <section class="rep-hero-card">
                        <div class="row justify-content-between">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- hero-profile-image -->
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- "hero-name" H1: 
                                        "hero-category" <p>
                                        "hero-rating" widget -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <!-- "hero-phone-text"
                                        "hero-phone-link"
                                        "hero-cta-link" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                

            </div>                      
        </div>
        <div class="container-fluid info-card-container">
            <div class="row">
                <div class="col-12">
                    <section class="rep-info-card1">                           
                        <h2>
                            {{this.info1-heading}}
                        </h2>
                        <p>
                            {{this.info1-text}}
                        </p>
                        <ul>
                            {{#each info-cards}}
                            <li>
                                {{this.info1-bullets}}
                            </li>
                            {{/each}}
                        </ul>
                    </section>

                    <section class="rep-info-card2">
                        <div class="row">
                            <h2>
                                {{this.info2-heading}}
                            </h2>
                            <div class="col-sm-6">
                                <p>
                                    <strong>{{this.info2-sub-heading1}}</strong>
                                </p>
                                <ul>
                                    {{#each info-cards}}
                                    <li>
                                        {{this.info2-sub-heading1-bullets}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <strong>{{this.info2-sub-heading2}}</strong>
                                </p>
                                <ul>
                                    {{#each info-cards}}
                                    <li>
                                        {{this.info2-sub-heading2-bullets}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </section>
                            
                    <section class="rep-info-card3">
                        <div class="row">
                            <h2>
                                {{this.info3-heading}}
                            </h2>
                            <div class="col-sm-6">                                
                                <ul>
                                    {{#each info-cards}}
                                    <li>
                                        {{this.info3-sub-heading1-bullets}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col-sm-6">                                
                                <ul>
                                    {{#each info-cards}}
                                    <li>
                                        {{this.info3-sub-heading2-bullets}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        
                    </section>  
                </div>
            </div>                                                                
        </div>
<!-- {{/}} -->
<!-- </script> -->